html { min-height:100%; margin-bottom:1px; } /*fix page shift by forcing vertical scrollbars */
#body {
   margin:0;
   padding:0;
   background-image:url('images/lowBg.gif');
   background-repeat:repeat-y;
   background-position:-216px 0px;
   text-align:center;
   font-family:arial,sans-serif;
}

img { border:none; }

/* make transparent PNGs work in IE6 */
img {
   behavior: url(/lib/iepngfix/iepngfix.htc)
}

img.blogFloatLt {
   float:left;
   padding:0px 10px 10px 0px;
 }

table, tbody, h1, h2, h3, h4, h5, h6, p {
   margin:0px;
   border:none;
   padding:0px;
}

h1 {
   padding:15px 0px 0px 15px;
   font-family:Univers,arial,sans-serif;
   font-size:28px;
   color:#333;
   line-height:1.3em;
}

h1 span {
   font-weight:bold;
   color:#999;
}

h2 {
   display:inline;
   padding-right:30px;
   font-size:21px;
   font-weight:normal;
   color:#333;
}

h3 {
   font-size:15px;
   font-weight:normal;
   color:#666;
   display:inline;
}

h3.contact {
   margin:10px 0px 0px 65px;
   font-weight:bold;
   color:#fff;
   display:block;
}

h4, h5, h6 { font-size:11px; font-weight:bold; }

.teamTitle h4 {
   padding-top:0px;
   font-size:14px;
   font-weight:normal;
   color:#666;
}

h5.lighter { color:#f6f6f6; padding-left:7px; text-decoration:none; }
h5.medium { color: #ddd; padding-left: 7px; text-decoration: none; padding-bottom: 0px; }
#emailSubscribe h5.medium { padding-left: 0px; }
h5.darker { padding:0px 0px 4px 9px; color:#666; }

.withArrow { padding-left:8px; }

h6 { color:#666; }

h6.header {
   margin:0px 0px 0px 0px;
   padding:0px 0px 0px 0px;
   font-size:10px;
   font-weight:normal;
}

#preloadWork1 { background-image:url('images/p1.png'); }
#preloadWork2 { background-image:url('images/p2.png'); }
#preloadWork3 { background-image:url('images/p3.png'); }
#preloadWork4 { background-image:url('images/p4.png'); }
#preloadWork5 { background-image:url('images/p5.png'); }
#preloadWork6 { background-image:url('images/p6.png'); }
#preloadWork7 { background-image:url('images/p7.png'); }
#preloadWork8 { background-image:url('images/p8.png'); }

#whiteFrame {
   position:relative; /*overflowing text in the upper section appears on top of lower content*/
   background:#fff;
   overflow:visible; /*overflowing text in the upper section appears on top of lower content*/
   width:100%;
}

#topFrame {
   margin-right:auto;
   margin-left:auto;
   text-align:left;
   overflow:visible;
   width:1000px;
}

#yui-history-iframe {
   position:absolute;
   top:0; left:0;
   width:1px; height:1px; /* avoid scrollbars */
   visibility:hidden;
}

/****************/
/*  header  */
/****************/
#header {
   font-size:10px;
   color:#888;
   height:37px;
}

.header {
   padding:50px 50px 0px 50px;
}

#headerLt { float:left; height:37px; }

#headerLt img {
   float:left;
}

#headerLt div {
   margin-left:152px;
   width:450px;
}

#headerLt div, #headerRt div {
   position:relative;
   top:13px;
}

#headerRt { float:right; height:37px; }

.header a { text-decoration:none; color:#666; }
.header a:hover, .header a:visited:hover { color:#694; }
.header a:active, .header a:visited { color:#666; }

/* scaleMe is used to keep a 40px space btwn the header and
   the content whether the top is open or closed. Yes, this
   is complicated, but it's necessary because of Team page, which
   has a mouseover state that overlaps the grid. */
#scaleMe { height:1px; }
/****************/
/*  end header  */
/****************/

.screenReaders {
   position:absolute;
   left:0px;
   top:-500px;
   width:1px;
   height:1px;
   overflow:hidden;
}

#overUpper {
   padding:0px 50px 0px 50px;
   position:relative;
   width:901px;
}

#overUpperWork {
   margin-top:38px;
   padding:0px 50px 0px 40px;
   position:relative;
}

#topSecWrapper.team {
   /*position:relative;*/
   margin-top:-1px;
   /*top:-40px;*/
}
#topSec {
   margin-top:37px;
   padding-bottom:37px;
   background:url('images/grid.gif') no-repeat;
   height:363px;
}

#topSecHome {
   padding-bottom:37px;
   background:url('images/grid.gif') no-repeat;
   height:363px;
   position:relative;
}

#homeAniContainerOne { position:absolute; top:0px; left:0px; width:883px; }

/*
#homeAniContainerTwo { position:absolute; top:0px; left:0px; width:883px; overflow:hidden; }
*/

#homePaginationPS {
  position:relative;
  top:30px;
  background-image:url('images/pagination_dots.gif');
  background-repeat:no-repeat;
  background-position:840px -120px;
  margin-left:15px;
  width:885px;
  height:10px;
}

#homePaginationMain {
  position:relative;
  top:31px;
  background-image:url('images/pagination_dots.gif');
  background-repeat:no-repeat;
  background-position:840px 0px;
  width:885px;
  height:10px;
}

#homePaginationPS img, #homePaginationMain img {
  position:relative;
  _top:-7px;
}

/*
#homePaginationMain.pageOne {
  width:885px;
}

#homePaginationPS.pageOne {
  background-position:840px 0px;
  width:885px;
}

#homePaginationMain.pageTwo {
  width:885px;
}

#homePaginationPS.pageTwo {
  background-position:840px -120px;
  width:885px;
}
*/
#topSecTopMarginHome { margin-top:38px; }

#topSecTeam {
   position:relative;
   background:url('images/grid.gif') no-repeat 0px 40px;
   height:401px;
   display:inline-block;
}

#topSecTeam {
   padding-bottom:38px;
   display:block;
}

#topSecWork{
   position:relative;
   padding-bottom:28px;
   top:-11px;
   background:url('images/gridWithLegend.gif') no-repeat 0px 0px;
   height:372px;
   width:911px;
}

/*************************/
/*   WORK PAGE CONTENT   */
/*************************/
#workMain { position:relative; }

#workMain table {
   table-layout:fixed;
   position:relative;
   margin:0;
   border:none;
   border-collapse:collapse;
   padding:0;
   width:0px;
   height:360px;
}

#workMain table tr td {
   /* set this to keep IE6 from adding white space at the bottom
      of the cell. I think this has something to do with the text
      node that IE6 put into the cell even though I didn't ask for
      one. */
   font-size:2px;
   width:45px;
   height:45px;
}

#workMain table tr td.bg0 { background-color:#f3f3f3; }
#workMain table tr td.bg1 { background-color:#efefef; }
#workMain table tr td.bg2 { background-color:#ebebeb; }
#workMain table tr td.bg3 { background-color:#e8e8e8; }
#workMain table tr td.bg4 { background-color:#eaeaea; }
#workMain table tr td.bg5 { background-color:#e5e5e5; }
#workMain table tr td.bg6 { background-color:#dfdfdf; }
#workMain table tr td.bg7 { background-color:#d9d9d9; }
#workMain table tr td.bg8 { background-color:#d1d1d1; }
#workMain table tr td.bg9 { background-color:#cfcfcf; }
#workMain table tr td.bg10 { background-color:#cacaca; }
#workMain table tr td.bg11 { background-color:#c8c8c8; }
#workMain table tr td.bg12 { background-color:#c4c4c4; }
#workMain table tr td.bg13 { background-color:#bcbcbc; }
#workMain table tr td.bg14 { background-color:#bababa; }
#workMain table tr td.bg15 { background-color:#b4b4b4; }
#workMain table tr td.bg16 { background-color:#b1b1b1; }
#workMain table tr td.bg17 { background-color:#b0b0b0; }
#workMain table tr td.bg18 { background-color:#aaaaaa; }
#workMain table tr td.bg19 { background-color:#a9a9a9; }
#workMain table tr td.bg20 { background-color:#a1a1a1; }

#workMain table tr td img { cursor:pointer; }
/* rules for the 8 small project icons
#workMain table tr td#workProj1c1Lt { background-position:-2500px 0px; }
#workMain table tr td#workProj4c4Lt { background-position:-1200px 0px; }
#workMain table tr td#workProj4c5Lt { background-position:-1900px 0px; }
#workMain table tr td#workProj4c6Lt { background-position:-2000px 0px; }
#workMain table tr td#workProj5c1Lt { background-position:-2100px 0px; }
#workMain table tr td#workProj5c2Lt { background-position:-2200px 0px; }
#workMain table tr td#workProj5c3Lt { background-position:-2300px 0px; }
#workMain table tr td#workProj5c4Lt { background-position:-2900px 0px; }
*/

div.view { width:720px; }

.view div#projTitlev1{
   padding:16px 0px 0px 15px;
   width:335px;
   height:74px;
}

.view div#projTitleOthers {
   position:relative;
   padding:16px 10px 0px 15px;
   height:75px;
   width:646px;
   overflow:visible;
}

.view div#projTitleOthers p {
   height:33px;
}

.workView { position:relative; height:269px; }

#viewOne { position:relative; }

#viewOne div.pageOne {
   background:url('images/pagination_dots.gif') no-repeat 330px 74px;
}

#viewOne div.pageTwo {
   background:url('images/pagination_dots.gif') no-repeat 330px -46px;
}

.view div p {
   padding-top:17px;
   font-size:11px;
   color:#666;
}

p.projText, .view div p.projText {
   padding:0px 0px 8px 0px;
   font-size:11px;
   line-height:14px;
   color:#666;
   overflow:hidden;
}

p.projText a,
.view div p.projText a,
p.projText a:visited,
.view div p.projText a:visited {
   text-decoration:none;
   color:#000;
}

p.projText a:hover,
.view div p.projText a:hover,
p.projText a:visited:hover,
.view div p.projText a:visited:hover {
   text-decoration:none;
   color:#694;
}

.view div p span {
   font-weight:bold;
}

#viewOne table tr td div#workProjLeftCol {
   background:url('images/columnHoverSprite.jpg') no-repeat -1000px 0px;
   padding:0px 10px 0px 15px;
   height:269px;
   width:331px;
   overflow:hidden;
   position:relative;
}

#viewOne table tr td div#txtContainer {
   width:710px;
   z-index:0;
}

#viewOne table tr td div#workProjLeftCol div#text1 {
   float:left;
   padding:10px 0px 15px 0px;
   height:244px;
   width:328px;
}

#viewOne table tr td div#workProjLeftCol div#text2 {
   float:right;
   position:relative;
   left:-27px;
   padding:10px 0px 15px 0px;
   height:244px;
   width:328px;
}

.view table tr td#workProjMidCol {
   background-repeat:no-repeat;
   background-position:0px 0px;
   padding-left:5px;
   height:269px;
   width:310px;
   z-index:1;
}

#viewOne table tr td.narrow {
   width:49px;
   vertical-align:top;
}

.view table tr td.fullSize {
   position:relative;
   width:60px;
}

.view table tr td.narrow, .view table tr td.fullSize {
   background:url('images/project_icons.gif') no-repeat;
   vertical-align:top;
   overflow:hidden;
}

.view table tr td.hot { cursor:pointer; }

.view table tr td.imgIcon span, .view table tr td.imgIcon a { display:none; }

.view table tr td.icon1nNormal { background-position:-11px 0px; height:44px; }
.view table tr td.icon1nOn { background-position:-11px -100px; height:44px; }
.view table tr td.icon1nHover { background-position:-11px -200px; height:44px; }
.view table tr td.icon1Normal { background-position:0px 0px; height:44px; }
.view table tr td.icon1On { background-position:0px -100px; height:44px; }
.view table tr td.icon1Hover { background-position:0px -200px; height:44px; }

.view table tr td.icon2nNormal { background-position:-111px 0px; height:45px; }
.view table tr td.icon2nOn { background-position:-111px -100px; height:45px; }
.view table tr td.icon2nHover { background-position:-111px -200px; height:45px; }
.view table tr td.icon2Normal { background-position:-100px 0px; height:45px; }
.view table tr td.icon2On { background-position:-100px -100px; height:45px; }
.view table tr td.icon2Hover { background-position:-100px -200px; height:45px; }

.view table tr td.icon3nNormal { background-position:-211px 0px; height:45px; }
.view table tr td.icon3nOn { background-position:-211px -100px; height:45px; }
.view table tr td.icon3nHover { background-position:-211px -200px; height:45px; }
.view table tr td.icon3Normal { background-position:-200px 0px; height:45px; }
.view table tr td.icon3On { background-position:-200px -100px; height:45px; }
.view table tr td.icon3Hover { background-position:-200px -200px; height:45px; }

.view table tr td.icon4nNormal { background-position:-311px 0px; height:45px; }
.view table tr td.icon4nOn { background-position:-311px -100px; height:45px; }
.view table tr td.icon4nHover { background-position:-311px -200px; height:45px; }
.view table tr td.icon4Normal { background-position:-300px 0px; height:45px; }
.view table tr td.icon4On { background-position:-300px -100px; height:45px; }
.view table tr td.icon4Hover { background-position:-300px -200px; height:45px; }

.view table tr td.icon5nNormal { background-position:-411px 0px; height:45px; }
.view table tr td.icon5nOn { background-position:-411px -100px; height:45px; }
.view table tr td.icon5nHover { background-position:-411px -200px; height:45px; }
.view table tr td.icon5Normal { background-position:-400px 0px; height:45px; }
.view table tr td.icon5On { background-position:-400px -100px; height:45px; }
.view table tr td.icon5Hover { background-position:-400px -200px; height:45px; }

.view table tr td.icon6nNormal { background-position:-511px 0px; height:45px; }
.view table tr td.icon6nOn { background-position:-511px -100px; height:45px; }
.view table tr td.icon6nHover { background-position:-511px -200px; height:45px; }
.view table tr td.icon6Normal { background-position:-500px 0px; height:45px; }
.view table tr td.icon6On { background-position:-500px -100px; height:45px; }
.view table tr td.icon6Hover { background-position:-500px -200px; height:45px; }

.view table tr td.iconBlankn { background-position:-611px 0px; height:45px; }
.view table tr td.iconBlank { background-position:-600px 0px; height:45px; }
/*********************************/
/*     END WORK PAGE CONTENT     */
/*********************************/

/*********************************/
/*     SERVICES PAGE CONTENT     */
/*********************************/
#servicesMain {
   background-image:url('images/servicesSprite.gif');
   background-repeat:no-repeat;
   background-position:0px 41px;
   height:361px;
}

dt { padding:0px 0px 4px 8px; }

dd, dt {
   margin:0;
   border:none;
   font-size:11px;
}

dt {
   color:#666;
   font-weight:bold;
}

dt.nth { padding-top:9px; }
ul.rtNav {
   margin:0px 0px 0px 0px;
   padding:0px 0px 0px 0px;
   list-style-type:none;
}
ul.rtNav li { padding:0px 0px 4px 8px; }
ul.rtNav li a { display:block; }

dd a:hover {
   color:#694;
}

#smRings {
   padding:0px 0px 0px 0px;
   background-image:url(images/smRingsSprite.gif);
   background-repeat:no-repeat;
   background-position:-1000px 0px;
   height:90px;
}

.servTitle {
   padding:16px 0px 4px 15px;
}

#servTitle.pageOne {
   background-image:url('images/pagination_dots.gif');
   background-repeat:no-repeat;
   background-position:689px 30px;
}

#servTitle.pageTwo {
   background-image:url('images/pagination_dots.gif');
   background-repeat:no-repeat;
   background-position:689px -90px;
}

#textShiftContainer {
   height:224px;
   width:720px;
   position:relative;
   overflow:hidden;
}

#textShiftContainer.team {
   position:absolute;
   height:186px;
   overflow:visible;
}

#ltPanelFrame {
   padding:10px 10px 15px 15px;
   background:url(images/columnHoverSprite.jpg) no-repeat -1000px 0px;
   height:199px;
   width:335px;
   overflow:visible;
}

#ltPanelFrame.team { height:161px; }

#rtPanelFrame {
   position:absolute;
   top:0px;
   left:355px;
   padding:10px 15px 15px 10px;
   background:url(images/columnHoverSprite.jpg) no-repeat -1000px 0px;
   height:199px;
   width:335px;
   overflow:visible;
}

#rtPanelFrame.team { height:161px; }

#left0 {
   position:relative;
   height:199px;
   width:335px;
}

#left0.team { height:161px; }

#right0 {
   position:relative;
   height:199px;
   width:335px;
}

#right0.team { height:161px; }

#textLt0 {
   position:relative;
   top:0px;
   width:335px;
}

#textRt0 {
   position:relative;
   top:0px;
   height:199px;
   width:335px;
}

#left1 {
   position:relative;
   left:355px;
   top:-199px;
   height:199px;
   width:0px;
   overflow:hidden;
}

#left1.team { height:161px; }

#right1 {
   position:relative;
   left:355px;
   top:-199px;
   height:199px;
   width:0px;
   overflow:hidden;
}

#left1.team { height:161px; }

#textLt1 {
   position:relative;
   width:335px;
   height:199px;
}

#textRt1 {
   position:relative;
   width:335px;
   height:199px;
}

.txtPanelTwoCols td {
   vertical-align:top;
   width:50%;
}

.txtPanelTwoCols td ul {
   margin:0px 0px 0px 10px;
   padding:0px;
   list-style-type:none;
}

.txtPanelTwoCols td ul.left {
   padding-right:10px;
}

.txtPanelTwoCols td ul li {
   padding-left:7px;
   font-size:11px;
   color:#666;
   background:url('images/listBulletDark.gif') no-repeat 0px 5px;
   line-height:14px;
}

#ltPanelFrame div div div p, #rtPanelFrame div div div p {
   position:relative;
   margin:0px 0px 0px 0px;
   padding:0px 0px 8px 0px;
   display:block;
   font-size:11px;
   color:#666;
   overflow:hidden;
}

div.fullCol ul {
   margin:0px 0px 0px 10px;
   padding:0px;
   width:240px;
   list-style-type:none;
}

div.fullCol ul li {
   padding-left:7px;
   font-size:11px;
   color:#666;
   background:url('images/listBulletDark.gif') no-repeat 0px 5px;
   line-height:14px;
}

/*********************************/
/*  END SERVICES PAGE CONTENT    */
/*********************************/

/*****************************/
/*  TEAM PAGE CONTENT        */
/*****************************/
#teamMain {
   background-image:url('images/team_stats_static.png');
   background-repeat:no-repeat;
   background-position:23px 70px;
   height:385px;
   width:700px;
}

#teamSprite {
   background-image:url('images/teamSprite.gif');
   background-repeat:no-repeat;
   background-position:27px -20px;
}

#teamImageMap {
   position:relative;
   left:27px;
}
#smPath {
   padding:0px 0px 0px 0px;
   background-image:url(images/smPathsSprite.gif);
   background-repeat:no-repeat;
   background-position:-1000px 0px;
   height:126px;
}

.teamTitle {
   padding:98px 0px 10px 15px;
}

.teamTitle p { padding-top:2px; }

a.email {
   font-size:11px;
   color:#694;
   text-decoration:none;
}

a.email:hover { color:#666; }
a.emailContactRtSide { text-decoration:none; color:#888; }
a.emailContactRtSide:hover { color:#694; }
a.emailContact, a.emailContact:visited { text-decoration:none; color:#fff; }
a.emailContact:hover, a.emailContact:visited:hover { color:#444; }

h1.contactForm {
  margin:0;
  padding:0px 0px 7px 0px;
  color:#fff;
  font-size:16px;
  font-weight:bold;
}

form#subscribeForm input.emailer { width: 175px; height: 16px; text-decoration: none; background-color: #b0b0b0; border: 1px solid #999; margin: 0px; margin-top: 7px; color: #fff; padding-top: 3px; padding-left: 5px; }


img#subscribe { position: absolute; top: 68px; left: 151px; }


form#contactForm {
  background-color:#a4a4a4;
  margin-top:5px;
}

form#contactForm input {
  margin:0px 0px 10px 0px;
  padding:0;
  border:none;
  background-color:#ddd;
  height:20px;
  width:200px;
}

form#contactForm input.radio {
  border:none;
  background-color:#a4a4a4;
  width:20px;
  _margin-bottom:0;
}

form#contactForm input.txt { padding-left:5px; }

form#contactForm table {
  font-size:11px;
  color:#fff;
  width:623px;
}

form#contactForm table td {
  padding:0px 10px 0px 0px;
  vertical-align:middle;
  text-align:left;
  white-space:nowrap;
}

form#contactForm table tr td.colOneOfThree {
  width:95px;
}
form#contactForm table tr td.colTwoOfThree {
  width:200px;
}

form#contactForm table td.label {
  display:block;
  font-weight:bold;
  padding-top:5px;
}

form#contactForm table td.third {
  display:block;
  padding-top:5px;
  width:328px;
}

form#contactForm label.radio {
  position:relative;
  top:-6px;
  _top:0;
  padding-right:20px;
}

form#contactForm label.chbx {
  display:inline;
  position:relative;
  top:-3px;
}

form#contactForm table tr td.chkbx input {
  margin-bottom:4px;
  height:15px;
  width:20px;
  background:#a4a4a4;
}

form#contactForm table tr td span { color:#782325; }

#sbmtMessage {
  position:relative;
  top:-18px;
  left:10px;
}

form#contactForm table tr td textarea {
  background-color:#ddd;
  height:100px;
  width:518px;
  padding-left:5px;
}

form#contactForm input#sbmt {
  margin-top:10px;
  width:51px;
  height:22px;
}
form#contactForm input#sbmt.off {
  background:transparent url('images/submitBtn_off.jpg') no-repeat 0px 0px;
}

form#contactForm input#sbmt.on {
  background:transparent url('images/submitBtn_on.jpg') no-repeat 0px 0px;
}

/*****************************/
/*  END TEAM PAGE CONTENT    */
/*****************************/

.topCol1 {
   float:left;
   width:721px;
   display:inline-block;
}

.topCol1 { display:block; }

.topCol1Work {
   float:left;
   position:relative;
   top:2px;
   left:1px;
   padding:10px 0px 0px 10px;
   width:721px;
}

.topCol2 {
   float:left;
   padding:80px 10px 0px 6px;
   font-size:11px;
   color:#888;
   width:162px;
}

.topCol1Plus2 {
   padding:72px 0px 0px 15px;
   width:883px;
}

.topCol1Plus2 div.lineOne { height:58px; }
.topCol1Plus2 div.lineTwo { height:58px; }
.topCol1Plus2 div.lineThree { height:58px; }
.topCol1Plus2 div.lineFour { height:58px; }

#homeImageMap {
   position:absolute;
   top:75px;
}

.homePS { background:transparent url('images/packages.jpg') no-repeat 0px 17px; height:361px; }

.homePStextOne {
  position:relative;
  background:transparent url('images/home_ps_text3.gif') no-repeat 335px 87px; height:180px;
}

#homePStextTwo {
  position:relative;
  background:transparent url('images/home_ps_text3.gif') no-repeat 335px -93px; height:65px;
}

#homePStextTwo img {
  position:absolute;
  top:12px;
  left:338px;
}

#homePStextThree {
  position:relative;
  background:transparent url('images/home_ps_text3.gif') no-repeat 335px -153px; height:60px;
}

#homePStextThree img {
  position:absolute;
  top:10px;
  left:338px;
}

#homePsImageMap { position:absolute; }

#tuningArrow {
  position:relative;
  top:8px;
  left:309px;
}

#subscriptionArrow {
  position:relative;
  top:8px;
  left:261px;
}
.topCol2Team {
   float:left;
   padding:118px 10px 0px 6px;
   font-size:11px;
   color:#888;
   width:162px;
}
.topCol2 h4, .topCol2Work h4, .topCol2Team h4 {
   margin:0px 0px 4px 0px;
   padding:7px 0px 0px 9px;
}

.topCol2 h4.top, .topCol2Work h4.top, .topCol2Team h4.top {
   margin:0px 0px 4px 0px;
   padding:0px 0px 0px 9px;
}

.topCol2Work {
   float:left;
   /* I really want padding-left:6px; but the tbody is adding
      2px. I can't figure out how to get rid of it. This makes
      all the calulations off by 2px. */
   padding:90px 0px 0px 4px;
   font-size:11px;
   color:#888;
   width:174px;
}

.topCol2Work table {
   width:176px;
}

.topCol2Work table tr td {
   padding:0px 0px 3px 0px;
   vertical-align:top;
}

.topCol2Work table tr td.c1 {
   padding-left:7px;
   width:121px;
}

.topCol2Work table tr td.c2 {
   padding:0px 10px 0px 0px;
   text-align:right;
   width:32px;
}

.arrowBlack {
   background:url('images/tinyArrowsSprite.gif') no-repeat 0px 3px;
}

.arrowGreen {
   background:url('images/tinyArrowsSprite.gif') no-repeat 0px -47px;
}

.arrowNone {
   background:url('images/tinyArrowsSprite.gif') no-repeat 0px -1000px;
}

a.linkURoff, a.linkURoff:visited {
   color:#888;
   text-decoration:none;
}
a.linkURon, a.linkURon:hover, a.linkURon:visited:hover {
   color:#694;
   text-decoration:none;
}

.textURoff { color:#888; }
.textURon { color:#333; }

/*
div#topCol2.topCol2 ul li span.textURoff { color:#888; }
div#topCol2.topCol2 ul li span.textURon { color:#333; }
*/

.topCol2 p { padding:0px 0px 4px 8px; }
#navContainer {
   clear:both;
   background-image:url('images/navBgSprite.gif');
   background-repeat:repeat-y;
   background-position:-525px 0px;
   border-top:solid 2px #ddd;
   padding:0;
   width:100%;
   height:40px;
}

#navContainerNoShadeAction {
   clear:both;
   background-image:url('images/navBgSprite.gif');
   background-repeat:repeat-y;
   background-position:-453px 0px;
   border-top:solid 2px #ddd;
   padding:0;
   width:100%;
   height:40px;
}

#navWrap {
   overflow:hidden;
}

#navContainerTwo {
   height:40px;
}

#lowerSection {
   /*
   margin-top:12px;
   */
   background:url('images/lowBg.gif') repeat-y -525px 0px;
   text-align:left;
   width:100%;
}

#lowerSection div { overflow:hidden; }

#footerContainer {
   background:url('images/lowBg.gif') repeat-y -525px 0px;
   width:100%;
}

#footerContainer div { overflow:hidden; }

.navContNorm {
   position:relative;
   background:#a4a4a4;
   margin:0px auto 0px auto;
   width:1000px;
   height:100%
}

.navContHover {
   position:relative;
   background:#939393;
   margin:0px auto 0px auto;
   width:1000px;
   height:100%
}

.container {
   position:relative;
   background:#a4a4a4;
   margin:0px auto 0px auto;
   width:999px;
}

.ltSideWithShadeAction {
   float:left;
   background:#a4a4a4;
   margin:0px -230px 0px 0px;
   border-right:230px solid #999;
   padding-top:13px;
   width:769px;
   position:relative;
}

.ltSideNoShadeAction {
   float:left;
   background:#a4a4a4;
   margin:0px -230px 0px 0px;
   border-right:230px solid #999;
   padding-top:13px;
   width:770px;
}

.ltSideWithShadeAction.packServ { padding-top:8px; }

.rtSide {
   /* top padding of 13 needs to be in to help IE6 deal with the blind effects. Reduce it,
      and you'll see a little sliver of white during the animations. */
   padding:13px 15px 0px 6px;
   background:#999;
   font-size:11px;
   width:208px;
   float:right;
}

.rtSide ul.entries li a:link { color: #ddd; text-decoration: none; }
.rtSide ul.entries li a:visited { color: #ddd; text-decoration: none; }
.rtSide ul.entries li a:hover { color: #444; text-decoration: none; }

.rtSide #emailSubscribe { color: #ddd; width: 100%; /*background-color: #909090;*/ margin: 0px; padding: 10px 0px 0px 15px; postion: relative; margin-top:10px; margin-bottom:10px; left: -7px; }

	.rtSide #emailSubscribe #subscribeBtn { margin-top: 10px; }

.rtSide #stayConnect { width: 100%; height: 35px; margin:10px 0px 0px 0px; padding: 10px 0px 0px 7px; color: #ddd }
	.rtSide #stayConnect img.twit { position: absolute; top: 5px; left: 136px; }
	.rtSide #stayConnect img.facebook {  position: absolute; top: 5px; left: 157px; }
	.rtSide #stayConnect img.feed {  position: absolute; top: 5px; left: 115px; }

.rtSide table td { padding-left:8px; }

.rtSide p {
   padding:6px 0px 0px 0px;
   color:#fff;
}

.rtSide #emailSubscribe p { color: #ddd }

.rtSide p a { text-decoration:none; color:#ddd }
.rtSide p a:hover { color:#444 }

#lowCol1WithShadeAction {
   width:721px;
}

#lowCol1NoShadeAction {
   width:721px;
}

#lowCol1 map {
   display:block;
}

#imgMapImg {
   position:absolute;
   top:0px;
   left:50px;
   border:none;
}

#mainNav {
   position:absolute;
   top:-2px;
   left:50px;
   margin:0;
   padding:0;
   list-style-type:none;
   width:710px;
   height:28px;
}

#mainNav li {
   float:left;
   position:relative;
   padding-top:9px;
   font-weight:bold;
   /* aspect value for arial = .52 */
   font-size:11px;
   height:19px;
}

#mainNav li a {
   position:absolute;
   left:3px;
   text-decoration:none;
   color:#ddd;
}

#mainNav li a:visited {
   color:#ddd;
}

#mainNav li a.cur:visited {
   color:#333;
}

#indexLi {
   background:url('images/tabsSprite.gif') transparent no-repeat 0px -1000px;
   padding-left:15px;
   width:107px;
   height:28px;
}

#workLi {
   background:url('images/tabsSprite.gif') transparent no-repeat 0px -1000px;
   width:111px;
   height:28px;
}

#blogLi {
   background:url('images/tabsSprite.gif') transparent no-repeat 0px -1000px;
   width:111px;
   height:28px;
}

#servicesLi {
   background:url('images/tabsSprite.gif') transparent no-repeat 0px -1000px;
   width:111px;
   height:28px;
}

#teamLi {
   background:url('images/tabsSprite.gif') transparent no-repeat 0px -1000px;
   width:111px;
   height:28px;
}

#contactLi {
   background:url('images/tabsSprite.gif') transparent no-repeat 0px -1000px;
   width:111px;
   height:28px;
}

#mainNav li.leftmost a, #mainNav li.leftmost span { padding-left:12px; }

#mainNav li.cur {
   position:relative;
   color:#333;
}

#mainNav li a.cur { color:#333; }

#lowCol2 {
   text-align:left;
   padding:0px 0px 0px 0px;
   width:230px;
   height:40px;
   _height:40px;
}

/* background for when the top is open ("Open Top" link NOT visible). */
.lowColTwoTopOpen { background:url('images/downArrowSprite.gif') #999 no-repeat 10px 100px; }

/* background for when the top is closed and "Open Top" link is hover. */
.lowColTwoTopClosedHover{ background:url('images/downArrowSprite.gif') #898989 no-repeat 10px 0px; }

#lowCol2 div#openTopWrapper {
   visibility:hidden;
   height:25px;
}

#lowCol2 div#shadeTrigger {
   height:25px;
   width:230px;
}

/* background for when the top is closed and "Open Top" link NOT on hover. */
#lowCol2 div#shadeTrigger.norm { background:#888; width:230px; }
/* now the arrow image needs to be placed in the enclosing box. */
#lowCol2 div#shadeTrigger.hover { background:#7a7a7a; height:25px; width:230px; }

#lowCol2 span {
   display:block;
   text-decoration:none;
   font-size:11.5px;
   font-weight:bold;
   color:#444;
   padding:6px 0 2px 21px;
   border-left:solid 1px #8f8f8f;
   width:67px;
   height:19px;
   cursor:pointer;
}

#lowCol2 span.spanNorm {
   background:url('images/downArrowSprite.gif') #8f8f8f no-repeat 10px 7px;
   padding:6px 0px 0px 27px;
   height:19px;
   width:61px;
}

#lowCol2 span.spanHover{
   border-left:solid 1px #898989;
   background:#808080;
   padding:6px 0px 0px 27px;
   height:19px;
   width:61px;
}

#lowerSection div { position:relative; }

#lowerSection div div#llContentDefault { position:relative; top:0px; }

#lowerSection div div#llContentDefault div h4 { padding-left:42px; }

#lowerSection div div#llContentDynamic { position:relative; top:0px; }

/*
#lowerSection div div div div.readmeIcon {
   padding-top:20px;
   background:url('images/readmeIcon.gif') no-repeat 0px 19px;
   height:33px;
}
*/
#lowerSection div div div div h3 { padding-left:42px; }

#lowerSection div div.rtSide table td {
   padding-top:6px;
   vertical-align:top;
   color:#ddd;
}
#lowerSection div div.rtSide table td.secondCol { padding-left:12px; }

#lowerSection div div.rtSide div#blogArchive {
   padding-top:27px;
   color:#ddd;
   width:200px;
}

#lowerSection div div.rtSide div div#archiveLinks {
   margin-left:8px;
   padding-top:6px;
   width:200px;
}

#lowerSection div div.rtSide div#blogArchive a {
   text-decoration:none;
   color:#ddd;
}

#lowerSection div div.rtSide div#blogArchive a:hover {
   text-decoration:none;
   color:#444;
}

#lowerSection div div.rtSide ul {
   list-style-type:none;
   margin:6px 0px 0px 0px;
   padding:0px 0px 0px 0px;
}

#lowerSection div div.rtSide li {
   padding:0px 0px 4px 8px;
   display:inline-block;
}

#lowerSection div div.rtSide li { display:block; }

/* bottom left content */
.rightmenu .col1 div.botLtContent { padding-top:0px; }

.botLtContent { margin:0px 75px 0px 20px; }
.botLtDefContent { margin:0px 75px 0px 65px; }

.botLtContent div.post { padding-bottom:15px; }

.botLtContent div.post table td, .botLtContent div.post table th {
   font-size:11px;
   color:#fff;
}

.botLtContent div.post p span.quote { display:block; padding:1px 10px 5px 10px; }

#costOfUsability { padding:5px 0 13px 0; width:610px; }
#costOfUsability table { padding:0; }
#costOfUsability table tr.botRow td { font-weight:bold; }
#costOfUsability table tr td.ninety { width:90px; }
#costOfUsability table tr td.sixtyFive { width:65px; }
#costOfUsability table tr.topOrBottomRow td { border-top:1px solid #ccc; }
#costOfUsability table tr th { padding-bottom:2px; vertical-align:top; }
#costOfUsability table tr td { border-top:1px solid #bbb; padding-top:2px; padding-bottom:2px; vertical-align:top; }
#costOfUsability table tr td.alignRt, #costOfUsability table tr th.alignRt { text-align:right; }
#costOfUsability table tr td.lastCell, #costOfUsability table tr th.lastCell { padding-left:20px; }

.botLtContent p { padding:0 0 0 0; }

.botLtContent img { padding-bottom:1px; }

.botLtContent .topItem { padding-top:0px; }

.botLtContent .date {
   padding-bottom:1px;
   font-size:11px;
   color:#444;
}

.botLtContent h3 {
   margin-left:-42px;
   color:#fff;
   font-size:15px;
   font-weight:bold;
}

.botLtContent h4 {
   font-size:14px;
   font-weight:bold;
   color:#fff;
   padding-bottom:5px;
}

.botLtContent h5 {
   padding-bottom:2px;
   font-size:11px;
   font-weight:bold;
   color:#fff;
}

.botLtContent p a, .botLtContent p a:visited {
   text-decoration:none;
   color:#555;
}

.botLtContent p a:hover, .botLtContent p a:visited:hover {
   text-decoration:none;
   color:#fff;
}

.botLtContent h5 a {
   float:left;
   padding-right:18px;
   background:url('images/docIcon.gif') no-repeat right 2px;
   font-size:13px;
   font-weight:bold;
   text-decoration:none;
   color:#fff;
}

.botLtContent h5 a:hover {
   color:#444;
   background:url('images/docIcon.gif') no-repeat right -48px;
}

.botLtContent p {
   padding:0px 0px 10px 0px;
   font-size:11px;
   line-height:14px;
   color:#fff;
   width:618px;
}

.botLtContent p.home {
   color:#fff;
   font-size:14px;
   line-height:18px;
}

.botLtContent p.impBlurb {
   padding-bottom:12px;
   font-size:14px;
   color:#fff;
   line-height:1.2em;
}

.botLtContent ul {
   margin:0px 0px 8px 10px;
   _margin-left:5px;
   padding:0;
   font-size:11px;
   color:#fff;
   list-style-type:none;
   position:relative;
}

.botLtContent ul li {
   padding:2px 0px 0px 7px;
   background:url('images/listBulletLight.gif') no-repeat 0px 7px;
   vertical-align:bottom;
   line-height:15px;
}

.botLtContent ol {
  margin:0 0 8px 0;
  padding-left:26px;
  font-size:11px;
  color:#fff;
  position:relative;
}

.botLtContent ol li {
   padding-top:2px;
   vertical-align:bottom;
   line-height:15px;
}

.botLtContent ol li p {
  width:592px;
}
/* end bottom left content */

/*
.botRtContent li a, .botRtContent li a:visited {
   text-decoration:none;
   color:#ddd;
}
*/

#lowerSection div.rtSide table td a.linkLRoff,
#lowerSection div.rtSide table td a.linkLRoff:visited,
#lowerSection div.rtSide ul li a.linkLRoff,
#lowerSection div.rtSide ul li a.linkLRoff:visited {
   text-decoration:none;
   color:#ddd;

}
#lowerSection div.rtSide table td a.linkLRon,
#lowerSection div.rtSide table td a.linkLRon:hover,
#lowerSection div.rtSide table td a.linkLRon:visited:hover,
#lowerSection div.rtSide ul li a.linkLRon,
#lowerSection div.rtSide ul li a.linkLRon:hover,
#lowerSection div.rtSide ul li a.linkLRon:visited:hover {
   text-decoration:none;
   color:#444;
}

td span.textLRon, li span.textLRon { text-decoration:none; color:#444; }
td span.textLRoff, li span.textLRoff { text-decoration:none; color:#ddd; }

/* Packaged Services-specific rules */
h1.packServ {
  float:left;
  padding:19px 18px 0px 70px;
  color:#333;
  font-size:20px;
  font-weight:normal;
}

div.psRtNav {
  height:31px;
}

div.psRtNav h4 {
  float:left;
  margin-top:1px;
  padding-top:11px;
}

div.psRtNav h4 a, div.psRtNav h4 a:visited, div.psRtNav h4 a.off {
  color:#888;
  text-decoration:none;
}
div.psRtNav h4 a:hover, div.psRtNav h4 a:visited:hover, div.psRtNav h4 a.on { color:#694; }

div.psRtNav h4 a, div.psRtNav h4 a.off, div.psRtNav h4 a.on {
  /*
  display:block;
  float:left;
  height:31px;
  */
}

div.psRtNav div {
  float:left;
  margin-left:5px;
  width:30px;
  height:31px;
}

div.psRtNav div a.off {
  display:block;
  height:31px;
  background:transparent url('images/psIconSprite.gif') no-repeat 0px 0px;
}

div.psRtNav div a.on {
  display:block;
  height:31px;
  background:transparent url('images/psIconSprite.gif') no-repeat 0px -50px;
}

#botLtContent.packServ {
  margin:0 75px 0 0;
  width:668px;
}

#packServ { width:668px; }

#packServ div.psHead {
  background:transparent url('images/psTopGradient.jpg') no-repeat 0px 0px;
  width:668px;
  height:72px;
  overflow:visible;
  position:relative;
}

#packServ ul.packServTabs {
  margin:0;
  padding-top:7px;
  list-style-type:none;
  width:348px;
  _width:336px;
  position:absolute;
  left:309px;
}
#packServ ul.packServTabs li {
  float:left;
  padding:0px 10px 0px 0px;
  height:43px;
  width:100px;
}

#packServ ul.packServTabs li.off {
  background:transparent url('images/psTabsSprite.jpg') no-repeat -150px 0px;
}

#packServ ul.packServTabs li.on {
  background:transparent url('images/psTabsSprite.jpg') no-repeat 0px 0px;
}

#packServ ul.packServTabs li a, #packServ ul.packServTabs li span {
  text-decoration:none;
  display:block;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  margin-top:10px;
  padding-top:5px;
  height:22px;
  width:100px;
}

#packServ ul.packServTabs li a.off, #packServ ul.packServTabs li span.off { color:#eee; }

#packServ ul.packServTabs li a.on, #packServ ul.packServTabs li span.on { color:#666; }

#packServ div.psContent {
  padding-left:45px;
  overflow:visible;
}

#packServ div div.packServHeadline {
  top:-12px;
  overflow:visible;
}

#packServ div div.packServHeadline h2 {
  color:#fff;
  font-size:24px;
  line-height:26px;
  padding:0;
}

#packServ div div.packServSubhead {
  font-size:11px;
  color:#fff;
  line-height:14px;
  margin-top:-4px;
  padding-right:10px;
}

#packServ div div.packServSecHead {
  font-size:16px;
  color:#fff;
  font-weight:bold;
  border-bottom:solid 1px #e6e6e6;
  padding:24px 0px 5px 0px;
  margin-right:10px;
  _margin-right:5px;
}

#packServ div div.packServSecHeadSubhead {
  padding:7px 10px 0px 0px;
  font-size:11px;
  color:#fff;
  line-height:11px;
}

#packServ div div.psBoxOne {  padding-top:24px; width:300px; }
#packServ div div.psBoxOne.fr { float:right; margin-right:8px; }
#packServ div div.psBoxOne.fl { float:left; }

#packServ div div.psBoxOne div.top {
  background:transparent url('images/psBoxTop.jpg') no-repeat 0px 0px;
  padding:11px 0px 0px 18px;
  height:29px;
}

#packServ div div.psBoxOne div.top h2 {
  color:#666;
  font-size:20px;
}

#packServ div div.psBoxOne div.body {
  /*
  position:relative;
  border-left:solid #fff 2px;
  border-right:solid #fff 2px;
  padding:15px 15px 0px 18px;
  width:263px;
  height:159px;
  */
}

#packServ div div.psBoxOne div.body div.off {
  position:relative;
  border-left:solid #fff 2px;
  border-right:solid #fff 2px;
  padding:15px 15px 0px 18px;
  width:263px;
  height:159px;
  background:transparent url('images/psBoxGradOff.jpg') repeat-x;
}

#packServ div div.psBoxOne div.body div.on {
  position:relative;
  border-left:solid #fff 2px;
  border-right:solid #fff 2px;
  padding:15px 15px 0px 18px;
  width:263px;
  height:159px;
  background:transparent url('images/psBoxGradOn.jpg') repeat-x;
}

#packServ div div.psBoxOne div.body h3, #packServ div.psBoxOne div.body p {
  font-size:13px;
  line-height:15px;
  color:#666;
  width:256px;
}

#packServ div div.psBoxOne div.body h3 { display:block; padding-bottom:4px; font-weight:bold; }
#packServ div div.psBoxOne div.body div div.botRtCornerOne {
  position:absolute;
  right:15px;
  bottom:10px;
  width:66px;
  height:69px;
}

#packServ div div.psBoxOne div.body div div.botRtCornerTwo {
  position:absolute;
  right:15px;
  bottom:10px;
  width:101px;
  height:59px;
}

#packServ div div.psBoxOne div.bottom div {
  text-align:center;
  color:#fff;
  font-size:14px;
  width:300px;
  height:40px;
}

#packServ div div.psBoxOne div.bottom div.off {
  background:transparent url('images/psBoxLearnMoreOff.jpg') no-repeat 0px 0px;
}

#packServ div div.psBoxOne div.bottom div.on {
  background:transparent url('images/psBoxLearnMoreOn.jpg') no-repeat 0px 0px;
}

#packServ div div.psBoxOne div.bottom a { display:block; width:300px; height:34px; }

#packServ div div.contentRow {
  padding-top:25px;
  width:623px;
}




#packServ div div div#psContainer2 {
  clear:left;
  float:left;
  width:623px;
  overflow:hidden;
  /*padding-bottom:15px;*/
}
#packServ div div div#psContainer1 {
  float:left;
  width:948px;
  position:relative;
  right:50%;
}

#packServ div div div.psColOne {
  float:left;
  /*margin:15px 0px 15px 20px;*/
  /*_margin-left:10px;*/
  width:205px;
  position:relative;
  left:309px;
  overflow:hidden;
}

#packServ div div div div div.psColTwo {
  float:left;
  position:relative;
  left:309px;
  overflow:hidden;
  padding:0 0 0 20px;
  width:392px;

}




#packServ div div div div.lgBtn {
  width:204px;
  height:115px;
}

#prototypingBtn {
  background-image:url('images/psButtonsSprite.jpg');
  background-repeat:no-repeat;
  background-position:0px 0px;
}

#compAnalysisBtn {
  background-image:url('images/psButtonsSprite.jpg');
  background-repeat:no-repeat;
  background-position:-210px 0px;
}

#packServ div div div div div#heuristicReviewBtn {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -420px 0px;
}

#packServ div div div div div#usabilityResearchBtn {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -630px 0px;
}

#packServ div div div div div#designDirectorBtn {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -840px 0px;
}

#packServ div div div div div#proDesignBtn {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -1050px 0px;
}

#packServ div div div div div#productionDesignBtn {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -1260px 0px;
}

#packServ div div div div div#startConverstationBtn a {
  display:block;
  width:200px;
  height:75px;
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -1470px 0px;
}

#packServ div div div div div#startConverstationBtn a:hover {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -1470px -115px;
}

.modal div.body div.content div.psColOne div#startConverstationBtnLtBg a {
  margin-top:125px;
  display:block;
  width:200px;
  height:70px;
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -1680px 0px;

}

.modal div.body div.content div.psColOne div#startConverstationBtnLtBg a:hover {
  background:transparent url('images/psButtonsSprite.jpg') no-repeat -1680px -115px;
}

.modal div.body div.content div.psColOne div#startConverstationBtnLtBg.subscription { margin-top:105px; }

/*#packServ div div div.psColTwo {
  position:absolute;
  left:222px;
  top:22px;
  width:390px;
  overflow:visible;
}
*/

#packServ div div div div div.psColTwo p {
  padding-bottom:6px;
  color:#eee;
  width:inherit;
  _width:380px;
}

#packServ div div div div div.psColTwo span.off {
  text-decoration:none;
}

#packServ div div div div div.psColTwo span.on {
  text-decoration:underline;
}

#packServ div div div div div.psColTwo table, div.modal div div div.psColTwo table {
  font-size:11px;
  color:#fff;
  width:396px;
  text-align:right;
  left:-6px;
}

div.modal div div div.psColTwo table {
  margin-top:2px;
  color:#666;
}

#packServ div div div div div.psColTwo table tbody tr th, div.modal div div div.psColTwo table tbody tr th {
  border-bottom:solid 1px #d6d6d6;
  padding-left:5px;
  height:20px;
}

div.modal div div div.psColTwo table tbody tr th { border-bottom:solid 1px #ccc; }

#packServ div div div div div.psColTwo table tbody tr td, div.modal div div div.psColTwo table tbody tr td {
  border-bottom:solid 1px #c8c8c8;
  padding-left:5px;
  height:20px;
}

div.modal div div div.psColTwo table tbody tr td { border-bottom:solid 1px #ccc; }

#packServ div div div div div.psColTwo table tbody tr th.alignLt,
#packServ div div div div div.psColTwo table tbody tr td.alignLt,
div.modal div div div.psColTwo table tbody tr th.alignLt,
div.modal div div div.psColTwo table tbody tr td.alignLt {
  text-align:left;
}

#packServ div div div div div.psColTwo table tbody tr th.padRt,
#packServ div div div div div.psColTwo table tbody tr td.padRt,
div.modal div div div.psColTwo table tbody tr th.padRt,
div.modal div div div.psColTwo table tbody tr td.padRt {
  padding-right:10px;
}

#packServ div div div div div.psColTwo h3 {
  display:block;
  font-size:16px;
  font-weight:normal;
  line-height:20px;
  padding-top:8px;
  padding-bottom:2px;
}

#packServ div div div div div.psColTwo ul { margin-bottom:4px; }

.modal {
  width:682px;
  height:622px;
  text-align:left;
}

.modal div.top {
  background:transparent url('images/modalTop.png') no-repeat 0px 0px;
  height:47px;
}

.modal div.top img { position:absolute; top:0; left:0; }
.modal div.body {
  background:transparent url('images/modalBody.png') repeat-y 0px 0px;
  height:540px;
}

.modal div.body div.content {
  position:relative;
  margin-left:5px;
  margin-right:-35px;
  overflow:auto;
  background-color:#eaeaea;
  width:670px;
  height:540px;
}

.modal h1 {
  font-size:24px;
  color:#fff;
  font-weight:normal;
  padding-top:13px;
  padding-left:23px;
}

.modal div.body div.content div#container2 {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
  padding-bottom:15px;
}
.modal div.body div.content div#container1 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
}

.modal div.body div.content div.psColOne {
  float:left;
  margin:15px 0px 15px 20px;
  /*_margin-left:10px;*/
  width:204px;
  position:relative;
  left:326px;
  overflow:hidden;
}

.modal div.body div.content div.psColOne.prototyping {
  background:transparent url('images/psModalSprite.gif') no-repeat 0px 0px;
}

.modal div.body div.content div.psColOne.compAnalysis {
  background:transparent url('images/psModalSprite.gif') no-repeat -250px 0px;
}

.modal div.body div.content div.psColOne.heurRev {
  background:transparent url('images/psModalSprite.gif') no-repeat -500px 0px;
}

.modal div.body div.content div.psColOne.usabRes {
  background:transparent url('images/psModalSprite.gif') no-repeat -750px 0px;
}

.modal div.body div.content div.psColOne.designDirector {
  background:transparent url('images/psModalSprite.gif') no-repeat -1000px 0px;
}

.modal div.body div.content div.psColOne.proDesign {
  background:transparent url('images/psModalSprite.gif') no-repeat -1250px 0px;
}

.modal div.body div.content div.psColOne.prodDesign {
  background:transparent url('images/psModalSprite.gif') no-repeat -1500px 0px;
}

.modal div.body div.content div.psColTwo {
  float:left;
  position:relative;
  top:12px;
  left:344px;
  overflow:hidden;
  padding:0 0 15px 0;
  width:393px;
}

.modal div.body div.content div.psColTwo h2 {
  display:block;
  padding-bottom:9px;
  font-size:16px;
  font-weight:bold;
  color:#666;
}

.modal div.body div.content div.psColTwo h3 {
  display:block;
  font-size:16px;
  font-weight:normal;
  color:#666;
}

.modal div.body div.content div.psColTwo p {
  font-size:11px;
  color:#666;
  line-height:14px;
  padding-top:3px;
  padding-bottom:3px;
}
.modal div.body div.content div.psColTwo p.top { padding-top:0px; }

.modal div.body div.content div.psColTwo p.underTable { padding-top:17px; }

.modal div.body div.content div.psColTwo p.botPad { padding-bottom:12px; }

.modal div.body div.content div.psColTwo p.dl { padding:8px 0px 0px 0px; }

.modal div.body div.content div.psColTwo p.dl.underOL { padding:6px 0px 0px 0px; }

.modal div.body div.content div.psColTwo p.dl span { font-weight:bold; }

.modal div.body div.content div.psColTwo ul {
  margin:0px 0px 0px 10px;
  _margin-left:10px;
  padding:0px 0px 14px 0px;
  list-style-type:none;
  font-size:11px;
  color:#666;
  position:relative;
}

.modal div.body div.content div.psColTwo ul li {
   padding-top:1px;
   padding-bottom:1px;
   padding-left:7px;
   background:url('images/listBulletDark.gif') no-repeat 0px 6px;
   line-height:14px;
}

.modal div.body div.content div.psColTwo ol {
  margin:0px 0px 0px 10px;
  padding:6px 0px 0px 0px;
  list-style-type:none;
  font-size:11px;
  color:#666;
}

.modal div.body div.content div.psColTwo ol li {
  padding:3px 0px 3px 0px;
  line-height:14px;
}

.modal div.body div.content div.psColTwo ol li span {
  font-weight:bold;
}

.modal div.bottom {
  position:relative;
  height:37px;
  background:transparent url('images/modalBottom.png') no-repeat 0px 0px;
}

.modal div.bottom div.nav {
  font-size:11px;
  color:#666;
}

.modal div.bottom div.nav.goLtLink {
  position:absolute;
  top:8px;
  left:0px;
  text-align:left;
  padding-left:15px;
  width:200px;
}

.modal div.bottom div.nav.goRtLink {
  position:absolute;
  top:8px;
  right:0px;
  text-align:right;
  padding-right:16px;
  width:200px;
}

.modal div.bottom div a, .modal div.bottom div a:visited {
  font-weight:bold;
  color:#666;
  text-decoration:none;
}
.modal div.bottom div a:hover, .modal div.bottom div a:hover:visited {
  color:#694;
}
/* End Packaged Services-specific rules */


/* end content */

/* footer */
#footer {
   background-color:#a4a4a4;
   text-align:left;
   padding:40px 0px 50px 65px;
}

#footer p {
   font-size:10px;
   color:#666;
}
/* end footer */

/* generic classes */
.clearAll { clear:both; }
.italic { font-style:italic; }
/* end generic classes */

.nameError img { position: relative; left: 5px; top: 2px; margin: 0px; padding: 0px; }
.emailError img { position: relative; left: 5px; top: 2px; margin: 0px; padding: 0px; }
